.gallery {
    list-style-type: none;
    max-width: 1128px;
    margin: 0 auto;
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    user-select: none
  }

  .gallery-item {
    padding: 0 10px 10px 5px;
    transform: scale (1.05);
  }

  .gallery-image {
    width: 360px;
    height: 200px;
}

  .gallery-image:hover {
    transform: scale (1.05);
  }